.slider-delivery {
    background: url("../images/index-main/delivery-2.png") no-repeat;
}

.slider-guarantee {
    background: url("../images/index-main/warranty.png") no-repeat;
}

.slider-credit {
    background: url("../images/index-main/credit.png") no-repeat;
}

@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    background-color: #FFFFFF;
    min-width: 1480px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.page-header {
    color: #000000;
    background-color: #FFE17F;
    min-height: 300px;
}

.container {
    width: 1160px;
    margin: 0 auto;
}

.navigation {
    display: flex;
    flex-direction: column;
    width: 1041px;
    margin: 0 auto;
}

.page-header-logo {
    margin-top: -23px;
    margin-bottom: 35px;
}

.container-user-navigation {
    display: flex;
    margin-bottom: 29px;
    align-items: center;
}

.form-search-input {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-right: 10px;
}

.search-input {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    background-color: #FFE17F;
    outline: none;
    width: 516px;
    padding: 10px 170px 10px 50px;
    background-image: url("../images/header/search.svg");
    background-repeat: no-repeat;
    background-position-x: 0;
    background-position-y: center;
    box-sizing: border-box;
    border: 2px solid transparent;
    border-radius: 20px;
}

.search-input::-webkit-search-cancel-button {
    appearance: none;
}

.search-input::placeholder {
    font-size: 16px;
    line-height: 19px;
    opacity: 0.3;
}

.search-input:hover::placeholder {
    opacity: 0.6;
}

.search-input:focus {
    border-color: #AF4FFF;
}

.search-input:not(:placeholder-shown) {
  border-color: #000000;
}

.search-input:not(:placeholder-shown) + .form-search-button {
    display: inline-block;
}

.form-search-button {
    position: absolute;
    right: 0;
    top: 0;
    display: none;
    height: 100%;
    width: 160px;
    padding: 8px;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    background-color: #FFE17F;
    text-align: center;
    border: 2px solid #000000;
    border-radius: 20px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    cursor: pointer;
}

.form-search-button:focus {
    border: 2px solid #AF4FFF;
}

.form-search-button:hover {
    background-color: #000000;
    color: #FFFFFF;
    border: 2px solid #000000;
}

.form-search-button:active {
    background-color: #000000;
    color:rgba(255, 255, 255, 0.3);
    border: 2px solid #000000;
}

.user-navigation-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    flex-grow: 1;
}

.user-navigation-item-login {
    margin-right: auto;
}
/*
.user-navigation-item-search {
    margin-right: 200px;

}


.user-navigation-item-compare {
    margin-right: 60px;
}

.user-navigation-item-basket {

} */

.basket-amount {
    background-color: #FFFFFF;
    border-radius: 50%;
    font-size: 14px;
    line-height: 17px;
    padding-top: 1px;
    padding-right: 5px;
    padding-bottom: 1px;
    padding-left: 5px;
    margin-right: 20px;
}

.main-navigation-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    align-items: center;
    z-index: 10;
}

.main-navigation-item-catalog {
    padding-right: 45px;
    margin-right: auto;
}

.catalog-list {
    padding-bottom: 62px;
}

.container-submenu {
    background-color: #FFE17F;
    position: absolute;
    top: 52px;
    display: none;
    padding-top: 30px;
    width: 1160px;
    min-height: 180px;
    z-index: 2;
    left: -59px;
    padding-left: 59px;
    box-sizing: border-box;
}

.submenu-link {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
  box-sizing: border-box;
  padding: 5px 15px;
  margin-bottom: 10px;
  border: 2px solid transparent;
  border-radius: 25px;
}

.submenu-link:focus {
    border-color: #AF4FFF;
}

.submenu-link:hover {
    color: rgba(0, 0, 0, 0.6);
}

.submenu-link:active {
    color: rgba(0, 0, 0, 0.3);
    border-color: transparent;
}

.container-submenu-link {
    display: flex;
    flex-direction: column;
    margin-right: 15px;
}

.user-navigation-link {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    background-color: #FFE17F;
    color: inherit;
    box-sizing: border-box;
    border: 2px solid transparent;
}

.user-navigation-link:focus {
    border-color:#AF4FFF;
    border-radius: 20px;
}

.user-navigation-link:hover {
    opacity: 0.6;
}

.user-navigation-link:active {
    opacity: 0.3;
    border-color: transparent;
}


/*
.link-search {
    padding: 10px 52px;
}*/

.link-login {
    padding-top: 10px;
    padding-right: 25px;
    padding-bottom: 10px;
    padding-left: 46px;
    background-image: url("../images/header/userpic.svg");
    background-repeat: no-repeat;
    background-position-x: 21px;
    background-position-y: center;
}

.link-compare {
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 41px;
    background-image: url("../images/header/compare.svg");
    background-repeat: no-repeat;
    background-position-x: 21px;
    background-position-y: center;
}

.link-basket {
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    background-image: url("../images/header/cart.svg");
    background-repeat: no-repeat;
    background-position-x: 32px;
    background-position-y: center;
}

.main-navigation-link-submenu {
    position: relative;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 21px;
    font-weight: 800;
    letter-spacing: 0.2em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: inherit;
    padding: 14px 20px;
    box-sizing: border-box;
    display: flex;
    border: 2px solid transparent;
    z-index: 3;
}

.main-navigation-link-submenu:after {
  position: absolute;
  content: "";
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  background-color: #FFE17F;
  border-radius: 50%;
  border: 2px solid #000000;
  background-position-x: center;
  background-position-y: 15px;
  border-color:rgba(0, 0, 0, 0.2);
  background-image: url("../images/header/plus.svg");
  background-repeat: no-repeat;
  top: 0;
  right: -52px;

}

.main-navigation-link-submenu:hover:after {
  border: 2px solid #000000;
  background-image: url("../images/header/minus.svg");
  background-repeat: no-repeat;
  opacity: 1;
}

.main-navigation-link-submenu:focus {
  border-color:#AF4FFF;
  border-radius: 25px;
}

.main-navigation-link-submenu:active:after {
  color: #000000;
  border: 2px solid #000000;
  background-image: url("../images/header/minus.svg");
  background-repeat: no-repeat;
}

.main-navigation-link-submenu:active {
  opacity: 0.3;
  border-color: transparent;
}

.main-navigation-item-catalog:hover .main-navigation-link-submenu:after {
  border: 2px solid #000000;
  background-image: url("../images/header/minus.svg");
  background-repeat: no-repeat;
  opacity: 1;
}

.main-navigation-item-catalog:hover  .container-submenu {
  display: flex;
}

.main-navigation-link {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 21px;
    font-weight: 800;
    letter-spacing: 0.2em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #FFE17F;
    color: inherit;
    padding: 14px 20px;
    box-sizing: border-box;
    border: 2px solid transparent;
}

.main-navigation-link:focus {
    border-color:#AF4FFF;
    border-radius: 25px;
}

.main-navigation-link:hover {
    text-decoration: underline;
    text-underline-offset: 0.5em;
}

.main-navigation-link:active {
    text-decoration: underline;
    text-underline-offset: 0.5em;
    opacity: 0.3;
    border-color: transparent;
}

.main-container {
    flex-grow: 1;
}

.main-index {
    color: #000000;
    background-color: #FFFFFF;
    background-size: 100% auto;
}

.product-sliders {
    width: 1160px;
    margin: 0 auto;
    margin-top: -27px;
    margin-bottom: 70px;
    position: relative;
}

.slider-button {
    position: absolute;
    top: 50%;
    border: 2px solid transparent;
    background: #FFFFFF;
    padding: 7px 8px;
    z-index: 1;
}

.slider-button:focus {
    border-radius: 6px;
    border-color: #AF4FFF;
}

.slider-button:hover {
    opacity: 0.6;
}

.slider-button:active {
    opacity: 0.3;
}

.slider-prev {
    left: 0;
    top: 130px;
}
/*
.slider-prev-img:hover path {
    fill: rgba(0, 0, 0, 0.6);
}

.slider-prev-img:active path {
    fill: rgba(0, 0, 0, 0.3);
}
*/

.slider-next {
    left: 560px;
    top: 130px;
}
/*
.slider-next-img:hover path {
    fill: rgba(0, 0, 0, 0.6);
}

.slider-next-img:active path {
    fill: rgba(0, 0, 0, 0.3);
}
*/

.slider-pagination-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    border: 1px solid red;
    position: absolute;
    top: 237px;
    right: 40px;
    z-index: 1;
}

.slider-pagination {
    margin-right: 22px;
}

.slider-pagination-button {
    padding: 0;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 2px solid #000000;
    background-color: #FFFFFF;
    cursor: pointer;
}

.slider-pagination-active .slider-pagination-button {
    background-color: #000000;
}

.slider-pagination-button:focus {
    border-color: #AF4FFF;
}

 .slider-pagination-button:hover {
    opacity: 0.6;
}

.slider-pagination-button:active {
    opacity: 0.3;
}

.product-slider-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.product-slider-item-1 {
    display: flex;
    position: relative;
}

.product-slider-item-1:after {
    content: "01";
    position: absolute;
    font-size: 180px;
    color: royalblue;
    font-family: "Rubik", sans-serif;
    line-height: 30px;
    font-weight: 800;
    right: 35px;
    top:-50px;
    z-index: 0;
}

.slider-image {
    margin-top: -123px;
    margin-right: 40px;
}

.product-text-container {
    display: flex;
    flex-direction: column;
}

.product-slider-item-2 {
    display: none;
}

.product-slider-item-3 {
    display: none;
}


.slider-title {
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    line-height: 50px;
    font-weight: 800;
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
    z-index: 1;
}

.slider-text {
    font-family: "Rubik", sans-serif;
    color: #444444;
    margin: 0;
    padding: 0;
    margin-bottom: 60px;
}

.button {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 21px;
    font-weight: 800;
    letter-spacing: 0.2em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
    /*background-color: #FFE17F;*/
    cursor: pointer;
    display: inline-block;
}

.button-slider {
    margin-bottom: 70px;
    width: 220px;
    position: relative;
    z-index: 1;
    padding: 14px 0;
}

.button-slider:before {
    content: "";
    position: absolute;
    width: 220px;
    height: 8px;
    background-color: #FFE17F;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button-slider:hover {
    background-color: #FFE17F;

}

.button-slider:hover::before {
    display: none;
}


.button-slider:active {
    color: rgba(0, 0, 0, 0.3);
}

.button-slider:active .button-slider:before {
    display: none;
}

.button-slider:focus::before {
    background-color: #AF4FFF;
}

.product-slider-table {
    border-collapse: collapse;
    border-spacing: 0;
}

.table-list-meaning {
    font-family: "Rubik", sans-serif;
    font-size: 36px;
    line-height: 30px;
    color: #000000;
}

.table-list-description {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    line-height: 30px;
    color: #444444;
}

.product-categories {
    display: flex;
    margin-bottom: 140px;
}

.categories-list {
    display: flex;
    width: 1160px;
    margin: 0 auto;
    justify-content: space-between;
    padding: 0;
    list-style: none;
}

.categories-item {
    width: 160px;
}

.categories-item-link {
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.categories-item-link:hover .container-picture {
    background-color: #FFC700;
}

.categories-item-link:focus .container-picture {
    border: 5px solid #AF4FFF;
}

.categories-item-link:focus .categories-item-title {
    color: #AF4FFF;
}

.categories-item-link:active .categories-item-picture {
    opacity: 0.3;
}

.categories-item-link:active .categories-item-title {
    color: rgba(0, 0, 0, 0.3);
}

.container-picture {
    width: 160px;
    height: 160px;
    background-color: #FFE17F;
    display: flex;
    margin-bottom: 33px;
    box-sizing: border-box;
}
/*
.container-picture:hover {
    background-color: #FFC700;
}

.container-picture:focus {
    border: 5px solid #AF4FFF;
}*/

.categories-item-picture {
    margin: auto;
}

.picture-popular-2 {
    padding-top: 34px;
}

.categories-item-title {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.02em;
    background-color: #FFFFFF;
    color: #000000;
    margin: 0;
}

.services-tabs {
    color: #000000;
    background-color: #F0F0F0;
    background-size: 100% auto;
    margin-bottom: 90px;
}

.services-tabs-container {
    display: flex;
    padding-bottom: 100px;
}
/*
.services-tabs-controls {
    display: flex;
    width: 280px;
    margin-right: 120px;
    margin-top: -10px;
}*/

.services-tabs-navigation-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    width: 280px;
    margin-right: 120px;
    margin-top: -10px;
    flex-direction: column;
    position: relative;
}

.services-tabs-navigation-list::after {
    content: "";
    position: absolute;
    width: 7px;
    height: 319px;
    background-color: #000000;
    right: 0;
    top: -65px;
}

.services-tabs-navigation-item {
    display: flex;
    margin-bottom: 45px;
}

.services-tabs-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 760px;
    margin-top: -30px;
}

.services-tabs-item {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.services-tabs-title {
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    line-height: 50px;
    color: #000000;
    margin: 0;
    margin-bottom: 30px;
}

.tabs-delivery {
    background-image: url("../images/index-main/delivery-2.png");
    background-repeat: no-repeat;
    background-position: right top;
}
.tabs-guarantee {
    display: none;
}

.tabs-credit {
    display: none;
}

.button-tabs-navigation {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
    width: 160px;
    position: relative;
    z-index: 1;
    padding-top: 10px;
    padding-bottom: 10px;
}

.services-tabs-navigation-item-active {
    background-color: #000000;
}

.services-tabs-navigation-item-active .button-tabs-navigation {
    color: #FFE17F;
}

.services-tabs-navigation-item-active .button-tabs-navigation::before {
    display: none;
}

.services-tabs-navigation-item-active:hover {
    background-color: unset;
}

.services-tabs-navigation-item-active:hover .button-tabs-navigation {
    color: #000000;
}

.button-tabs-navigation::before {
    content: "";
    position: absolute;
    width: 160px;
    height: 8px;
    background-color: #FFC700;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.button-tabs-navigation:focus::before {
    background-color: #AF4FFF;
}

.button-tabs-navigation:hover {
    background-color: #FFC700;
    padding-top: 10px;
    padding-bottom: 10px;
}

.button-tabs-navigation:active::before {
   display: none;
}

.services-tabs-navigation-item:active {
    padding-right: 110px;
}

.services-tabs-text {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #444444;
    background-color: #F0F0F0;
    width: 500px;
    margin: 0;
}

.delivery {
    background-color: #F0F0F0;
    display: flex;
    margin-bottom: 146px;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.container-delivery-image {
    background-color: #FFE17F;
    width: 125px;
    height: 100px;
    display: flex;
}

.delivery-image {
    width: 47px;
    height: 31px;
    margin: auto;
}

.delivery:focus {
    border: 5px solid #AF4FFF;
}

.delivery:hover .container-delivery-image {
    background-color: #FFC700;
}

.delivery:hover {
    background-color: #EBEBEB;

}

.delivery:hover .delivery-info {
    background-color: #DCDCDC;
    color: #000000;
}

.delivery:active {
    background-color: #EBEBEB;
}

.delivery:active .container-delivery-image {
    background-color: #ffc700;
}

.delivery:active .delivery-image {
    opacity: 0.3;
}

.delivery:active .delivery-text {
    opacity: 0.3;
}

.delivery-text {
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    line-height: 23px;
    font-weight: 800;
    letter-spacing: 0.2em;
    text-align: center;
    text-transform: uppercase;
    background-color: #F0F0F0;
    margin: 0;
}

.delivery-info {
    background: rgba(220, 220, 220, 0.502);
    color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    margin-right: 33px;
    padding: 2px 16px;
}

.info-contacts {
    display: flex;
    margin-bottom: 87px;
}


.info {
    background-color: #FFFFFF;
    width: 560px;
    margin-right: 50px;
}

.info-title {
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    line-height: 50px;
    color: #000000;
    background-color: #FFFFFF;
    margin: 0;
    margin-bottom: 50px;
    position: relative;
}

.info-title::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 7px;
    background-color: #000000;
    top: -42px;
}

.container-text {
    margin-bottom: 70px;
}

.info-text {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #444444;
    margin: 0;
    margin-bottom: 30px;
    width: 500px;
}

.transport-companies-list {
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
    list-style: none;
    margin-bottom: 60px;
    margin-left: 30px;
}

.transport-companies-item {
    margin-bottom: 20px;
    position: relative;
}

.transport-companies-item::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: #FFC700;
    border-radius: 50px;
    left: -30px;
    top: 5px;
}

.button-info {
    width: 260px;
    position: relative;
    z-index: 1;
}

.button-info::before {
    content: "";
    position: absolute;
}

.contacts {
background-color: #FFFFFF;
font-size: 18px;
line-height: 30px;
width: 515px;
}

.contacts-title {
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    line-height: 50px;
    font-weight: 800;
    color: #000000;
    margin: 0;
    margin-bottom: 50px;
    position: relative;
}

.contacts-title::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 7px;
    background-color: #000000;
    top: -42px;
}

.contacts-text {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    color: #444444;
    background-color: #FFFFFF;
    margin: 0;
    margin-bottom: 30px;
}

.contacts-subtitle {
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #444444;
    background-color: #FFFFFF;
    margin: 0;
    margin-bottom: 15px;
}

.contacts-address {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #444444;
    background-color: #FFFFFF;
    margin-bottom: 25px;
}

.contacts-address-text {
    margin: 0;
}

.contacts-phone {
    font-family: sans-serif;
    color: #444444;
    text-decoration-skip-ink: none;
}

.contacts-schedule {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #444444;
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
    list-style: none;
    margin-bottom: 53px;
}

.section-mailing {
    background-color: #F0F0F0;
    background-size: 100% auto;
    font-size: 18px;
    line-height: 30px;
    display: flex;
    flex-direction: column;
}

.mailing-upper-container {
    display: flex;
    margin-top: 75px;
    margin-bottom: 40px;
}

.mailing-upper-title {
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    line-height: 50px;
    color: #000000;
    background-color: #F0F0F0;
    margin: 0;
    width: 415px;
    margin-right: 220px;
}

.mailing-upper-text {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    color: #444444;
    background-color: #F0F0F0;
    margin: 0;
    width: 560px;
    padding-right: 20px;
}

.mailing-lower-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 131px;
    align-items: center;
}

.mailing-lower-form {


}
.button-mailing {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    background-color: #F0F0F0;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    cursor: pointer;
    width: 260px;
    border: 3px solid rgba(0, 0, 0, 0.1);
    padding-top: 18px;
    padding-right: 0;
    padding-bottom: 18px;
    padding-left: 0;
    margin-left: -5px;
}

.button-mailing:focus {
    border: 3px solid #AF4FFF;
}

.button-mailing:hover {
    background-color: #000000;
    color: #FFFFFF;
}

.button-mailing:active {
    background-color: #000000;
    color: rgba(255, 255, 255, 0.3);
    border-color: #000000;
}

.field {
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    color: rgba(68, 68, 68, 0.5);
    background-color: #F0F0F0;
    width: 560px;
    border: 0;
    border-bottom: 3px solid rgba(0, 0, 0, 0.1);
    padding-top: 16px;
    padding-right: 0;
    padding-bottom: 13px;
    outline: none;
}

.field.error {
    border-color: #ff3d3d;
}

.field:focus {
    background-color: #DCDCDC;
}

.field:hover {
    border-bottom: 3px solid rgba(0, 0, 0, 0.2);
}

.field:not(:placeholder-shown) {
    border-bottom: 3px solid #000000;
}

.mailing-lower-text {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    color: #444444;
    background-color: #F0F0F0;
    margin: 0;
    position: relative;
}

.mailing-lower-text::before {
    content: url("../images/index-main/tick-big.svg");
    position: absolute;
    left: -33px;
}

.page-footer {
    color: #FFFFFF;
    font-size: 16px;
    line-height: 30px;
    background-color: #444444;
    background-size: 100% auto;
    padding-top: 62px;
    padding-bottom: 61px;
}

.page-footer a {
    color: inherit;
    text-decoration: none;
}

.page-footer-container {
    display: flex;
    justify-content: space-between;

}

.footer-logo {
    padding-bottom: 35px;

}

.footer-address {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
 }

 .footer-address-text {
    margin: 0;
    width: 239px;
    position: relative;
}

.footer-address-text::after {
    content: "";
    position: absolute;
    width: 80px;
    height: 7px;
    background-color: #FFC700;
    left: 0;
    top: 90px;
}

.footer-services-social {
    display: flex;
    flex-direction: column;
    padding-top: 80px;
}

.footer-services-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 63px;
}

.footer-services-item {
    margin-right: 30px;
}

.footer-button {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    padding: 14px 20px;
    border-radius: 25px;
}

.footer-button:focus {
    box-shadow: 0 0 0 2px #AF4FFF;
    border-radius: 25px;
}

.footer-button:hover {
    text-decoration: underline;
    text-underline-offset: 0.5em;
    color: #FFC700;

}

.footer-button:active {
    text-decoration: underline;
    text-underline-offset: 0.5em;
    color: rgba(255, 199, 0, 0.3);
    box-shadow: none;
}

.footer-social-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}

.footer-social-item {
    margin-right: 15px;
}

.footer-social-link {
    display: flex;
    border-radius: 50%;
}

.footer-social-link:focus path {
    fill: #FFFFFF;
}


.footer-social-link:focus {
    box-shadow: 0 0 0 5px #AF4FFF;
}


.footer-social-link:focus circle {
    fill: none;
    fill-opacity: 1;
}

.footer-social-link:hover {
    background-color: #FFC700;
}

.footer-social-link:active path {
    fill: rgba(68, 68, 68, 0.3);
}

.footer-social-link:active {
    background-color: #FFC700;
}

.phone-logo {
    display: flex;
    flex-direction: column;
    padding-top: 80px;
}

.footer-phone {
    font-family: sans-serif;
    text-align: right;
    margin-bottom: 53px;
    padding: 0 15px;
    border-radius: 25px;
}

.footer-phone:focus {
    box-shadow: 0 0 0 2px #AF4FFF;
}

.footer-phone:hover {
    color: #FFC700;
}

.footer-phone:active {
    color: rgba(255, 199, 0, 0.3);
    box-shadow: none;
}

.htmlacademy-link {
    margin-left: 60px;
    border-radius: 10px;
    padding: 10px 10px;
    display: flex;
}


.htmlacademy-link:focus {
    box-shadow: 0 0 0 2px #AF4FFF;
}

.htmlacademy-link:hover path {
    fill: #FFFFFF;
}

.htmlacademy-link:active path {
    fill: rgba(255, 255, 255, 0.3);
}

.htmlacademy-link:active {
    box-shadow: none;
}

.user-navigation-button {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    background-color: #FFE17F;
    border: none;
    padding: 0;
    opacity: 0.3;
    cursor: pointer;
}

.main-inner {
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    background-color: #FFFFFF;
    background-size: 100% auto;
}

.inner-header {
    font-family: sans-serif;
    padding-top: 37px;
    width: 1041px;
}

.inner-header-title {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
}

.breadcrumbs {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    padding-bottom: 45px;
    align-items: center;
}

.breadcrumbs-item {
    margin-right: 8px;
}

.breadcrumbs-link {
    font-family: sans-serif;
    color: #000000;
    line-height: 19px;
    opacity: 0.6;
    text-decoration: none;
    padding: 6px 16px;
    cursor: pointer;
}

.breadcrumbs-link:focus {
    box-shadow: 0 0 0 5px #AF4FFF;
    opacity: 1;
}

.breadcrumbs-link:hover {
    opacity: 1;
}

.breadcrumbs-link:active {
    opacity: 0.3;
    box-shadow: none;
}

.breadcrumbs-link-home {
    position: relative;
}

.breadcrumbs-link-home::after {
    content: url("../images/catalog-main/nav-arrow.svg");
    position: absolute;
    right: -8px;
    top: 4px;
}

.breadcrumbs-link-catalog {
    position: relative;
}

.breadcrumbs-link-catalog::after {
    content: url("../images/catalog-main/nav-arrow.svg");
    position: absolute;
    right: -8px;
    top: 4px;
}

.catalog-products {
    display: flex;
}

.catalog-filter {
    font-family: sans-serif;
    color: #000000;
    background-color: #EBEBEB;
    width: 468px;
    display: flex;
    flex-direction: column;
}

.filter-title {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    background-color: #DCDCDC;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    height: 70px;
}

.catalog-filter-group {
    padding: 0;
    margin: 0;
    border: none;
}

.range-toogle {
    padding: 0;
    margin: 0;
    border: none;
}

.catalog-filter-title {
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.02em;
    padding: 0;
    margin: 0;
}

.catalog-filter-label {
    font-size: 15px;
    line-height: 18px;
    text-align: center;
}

.catalog-filter-input {
    padding: 0;
    border: none;
}

.catalog-filter-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.control-label {
    color: #000000;
    background-color: #EBEBEB;
}

.catalog-filter-button {
    padding: 0;
    margin: 0;
    border: none;
}

.catalog-right-column {

}
.sorting-container {
    color:#000000;
    background-color: #EBEBEB;
    align-items: center;
    display: flex;
    height: 70px;

}

.sorting-title {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    background-color: #EBEBEB;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    padding-left: 72px;
}

.sorting-type {
    margin-right: auto;
}

.select-control {
    font-family: "Rubik", sans-serif;
    color: #000000;
    background-color: #EBEBEB;
    font-size: 16px;
    line-height: 19px;
    border: none;
}

.button-sort-down {
    background-image: url("../images/catalog-main/sort-up.svg");
    background-repeat: no-repeat;
}

.button-sort-up {
    background-image: url("../images/catalog-main/sort-down.svg");
    background-repeat: no-repeat;
}

.container-card {
    width: 760px;
    margin-top: 69px;
    margin-left: 72px;
}

.product-list {
    display: grid;
    grid-template-columns: 360px 360px;
    row-gap: 44px;
    column-gap: 40px;
    padding: 0;
    margin: 0;
    list-style: none;
    margin-bottom: 44px;
}

.product-card {
    display: flex;
    flex-direction: column;
}

.button-more {
    display: none;
}

.product-card-link {
    margin-bottom: 32px;
}

.container-card-title-price {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.product-card-title {
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    background-color: #FFFFFF;
    letter-spacing: -0.02em;
    padding: 0;
    margin: 0;
    max-width: 260px;
}

.product-card-price {
    font-family: "Rubik", sans-serif;
    color: #444444;
    background-color: #FFFFFF;
    font-size: 18px;
    line-height: 21px;
    text-align: right;
    padding: 0;
    margin: 0;
}

.button-loading {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    background-color: #FFFFFF;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    padding: 0;
    width: 760px;
    height: 55px;
    margin-bottom: 61px;
}

.pagination-list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.container-pagination-list {
    background-color: #EBEBEB;
    width: 760px;
    margin-left: 72px;
    height: 70px;
    margin-bottom: 77px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pagination-link {
    font-family: sans-serif;
    color: #444444;
    font-size: 16px;
    line-height: 19px;
}

.pagination-disabled {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    background-color: #EBEBEB;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.pagination-text {
    padding: 0;
    margin: 0;
}



.pagination-next {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    background-color: #EBEBEB;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-decoration: none;
}

