.slider-delivery {
    background: url("../images/index-main/delivery-2.png") no-repeat;
}
.slider-guarantee {
    background: url("../images/index-main/warranty.png") no-repeat;
}
.slider-credit {
    background: url("../images/index-main/credit.png") no-repeat;
}
@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    background-color: #FFFFFF;
}



.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.page-header {
    color: #000000;
    background-color: #FFE17F;
}

.container {
    width: 1160px;
    margin: 0 auto;
}

.navigation {
    display: flex;
    flex-direction: column;
    width: 1041px;
    margin: 0 auto;
}

.page-header-logo {
    margin-top: -23px;
    margin-bottom: 35px;
}

.user-navigation-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 29px;

}

.user-navigation-item-search {
    margin-right: 200px;
    
}

.user-navigation-item-login {
    /*margin-right: 120px;*/

}

.user-navigation-item-compare {
    margin-right: 60px;
}

.user-navigation-item-basket {

}

.main-navigation-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    padding-bottom: 190px;
}

.catalog-list {
    padding-bottom: 62px;
}
/*.main-navigation-item-catalog {
    margin-right: 247px;
}

.main-navigation-item-dilivery {
    margin-right: 19px;
}

.main-navigation-item-guarantee {
    margin-right: 62px;
}*/

.user-navigation-link {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    background-color: #FFE17F;
    color: inherit;

}

.link-search {
    padding: 10px 52px;
}

.link-login {
    padding: 10px 46px;
}

.link-compare {
    padding: 10px 41px;
}

.link-basket {
    padding: 10px 44px;
}

.main-navigation-link {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 21px;
    font-weight: 800;
    letter-spacing: 0.2em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #FFE17F;
    color: inherit;
    padding: 14px 20px;
}

.main-container {
    flex-grow: 1;
} 

.main-index {
    color: #000000;
    background-color: #FFFFFF;
    background-size: 100% auto;
}

.product-sliders {
    width: 1160px;
    margin: 0 auto;
    margin-top: -27px;
    margin-bottom: 70px;
}

.slider-button {
    display: none;
}
.slider-pagination-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: none;
}
.product-slider-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.product-slider-item-1 {
    display: flex;
    
}

.slider-image {
    margin-top: -123px;
    margin-right: 40px;
}

.product-text-container {
    display: flex;
    flex-direction: column;
}

.product-slider-item-2 {
    display: none;
}

.product-slider-item-3 {
    display: none;
}


.slider-title {
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    line-height: 50px;
    font-weight: 800;
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
}

.slider-text {
    font-family: "Rubik", sans-serif;
    color: #444444;
    margin: 0;
    padding: 0;
    margin-bottom: 60px;
}

.button {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 21px;
    font-weight: 800;
    letter-spacing: 0.2em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
    background-color: #FFE17F;
}

.button-slider {
    margin-bottom: 70px;
}

.product-slider-table {
    border-collapse: collapse;
    border-spacing: 0;
}

.table-list-meaning {
    font-family: "Rubik", sans-serif;
    font-size: 36px;
    line-height: 30px;
    color: #000000;
}

.table-list-description {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    line-height: 30px;
    color: #444444;
}

.product-categories {
    display: flex;
    margin-bottom: 69px;
}

.categories-list {
    display: flex;
    width: 1160px;
    margin: 0 auto;
    justify-content: space-between;
    padding: 0;
    list-style: none;
}

.categories-item {
    width: 160px;
} 

.categories-item-link {
    text-decoration: none;
}

.categories-item-title {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.02em;
    background-color: #FFFFFF;
    color: #000000;
}

.services-tabs {
    color: #000000;
    background-color: #F0F0F0;
    background-size: 100% auto;
    margin-bottom: 90px;
}

.services-tabs-container {
    display: flex;
    padding-bottom: 100px;
} 
.services-tabs-controls {
    display: flex;
    width: 280px;
    margin-right: 120px;
    margin-top: -10px;
}

.services-tabs-navigation-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.services-tabs-navigation-item {
    display: flex;
    justify-content: space-around;
    margin-bottom: 45px;
}

.services-tabs-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 760px;
    margin-top: -30px;
}

.services-tabs-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    
    
}

.services-tabs-title {
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    line-height: 50px;
    color: #000000;
    margin: 0;
    margin-bottom: 30px;
}

.tabs-delivery {
    background-image: url("../images/index-main/delivery-2.png");
    background-repeat: no-repeat;
    background-position: right top;
}
.tabs-guarantee {
    display: none;
}

.tabs-credit {
    display: none;
}

.button-tabs-navigation {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
    background-color: #FFC700;
}



.services-tabs-text {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #444444;
    background-color: #F0F0F0;
    width: 500px;
    margin: 0;
}

.delivery {
    background-color: #F0F0F0;
    display: flex;
    margin-bottom: 146px;
}

.delivery-text {
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    line-height: 23px;
    font-weight: 800;
    letter-spacing: 0.2em;
    text-align: center;
    text-transform: uppercase;
    background-color: #F0F0F0;
    padding-left: 150px;
    padding-top: 37px;
    padding-bottom: 43px;
    margin: 0;
}

.info-contacts {
    display: flex;
    margin-bottom: 87px
}


.info {
    background-color: #FFFFFF;
    width: 560px;
    margin-right: 50px;
}

.info-title {
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    line-height: 50px;
    color: #000000;
    background-color: #FFFFFF;
    margin: 0;
    margin-bottom: 50px;
}

.container-text {
    margin-bottom: 70px;
}

.info-text {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #444444;
    margin: 0;
    margin-bottom: 30px;
    width: 500px;
}

.transport-companies-list {
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
    list-style: none;
    margin-bottom: 60px;
}

.transport-companies-item {
    margin-bottom: 20px;
}

.contacts {
background-color: #FFFFFF;
font-size: 18px; 
line-height: 30px; 
width: 515px;
}

.contacts-title {
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    line-height: 50px;
    font-weight: 800;
    color: #000000;
    margin: 0;
    margin-bottom: 50px;
}

.contacts-text {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    color: #444444;
    background-color: #FFFFFF;
    margin: 0;
    margin-bottom: 30px;
}

.contacts-subtitle {
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #444444;
    background-color: #FFFFFF;
    margin: 0;
    margin-bottom: 15px;
}

.contacts-address {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #444444;
    background-color: #FFFFFF;
    margin-bottom: 25px;
}

.contacts-address-text {
    margin: 0;
}

.contacts-phone {
    font-family: sans-serif;
    color: #444444;
    background-color: #FFFFFF;
    text-decoration: underline;
}

.contacts-schedule {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #444444;
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
    list-style: none;
    margin-bottom: 53px;
}

.section-mailing {
    background-color: #F0F0F0;
    background-size: 100% auto;
    font-size: 18px;
    line-height: 30px;
    display: flex;
    flex-direction: column;
}

.mailing-upper-container {
    display: flex;
    margin-top: 75px;
    margin-bottom: 40px;
}

.mailing-upper-title {
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    line-height: 50px;
    color: #000000;
    background-color: #F0F0F0;
    margin: 0;
    width: 415px;
    margin-right: 220px;
}

.mailing-upper-text {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    color: #444444;
    background-color: #F0F0F0;
    margin: 0;
    width: 560px;
    padding-right: 20px;
}

.mailing-lower-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 131px;
}

.mailing-lower-form {
   
    
}
.button-mailing {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    background-color: #F0F0F0;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    width: 260px;
}

.field {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    color: #444444;
    background-color: #F0F0F0;
    width: 560px;
    margin-right: 40px;
}

.mailing-lower-text {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    color: #444444;
    background-color: #F0F0F0;
    margin: 0;
    
}

.page-footer {
    color: #FFFFFF;
    font-size: 16px;
    line-height: 30px;
    background-color: #444444;
    background-size: 100% auto;
    padding-top: 62px;
    padding-bottom: 61px;
}

.page-footer a {
    color: inherit;
    text-decoration: none;
}

.page-footer-container {
    display: flex;
    justify-content: space-between;
    
}

.footer-address-logo {
    
    
}

.footer-logo {
    padding-bottom: 35px;
    
}

.footer-address {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
 }

 .footer-address-text {
    margin: 0;
    width: 239px;
    
 }

.footer-services-social {
    display: flex;
    
    
    
}

.footer-services-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-services-item {
    margin-right: 30px;
}

.footer-button {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.footer-social-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.phone-logo {
    display: flex;
    flex-direction: column;
    
    
}

.footer-phone {
    font-family: sans-serif;
    text-align: right;
    margin-bottom: 53px;
}

.htmlacademy-link {
    margin-left: 60px;
}

.user-navigation-button {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    background-color: #FFE17F;
    border: none;
    padding: 0;
}

.main-inner {
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    background-color: #FFFFFF;
    background-size: 100% auto;
}

.inner-header {
    font-family: sans-serif;
    padding-top: 37px;
}

.inner-header-title {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
}

.breadcrumbs {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    padding-bottom: 45px;
}

.breadcrumbs-item {
    margin-right: 36px;
}

.breadcrumbs-link {
    font-family: sans-serif;
    color: #444444;
    background-color: #FFFFFF;
    text-decoration: none;
}

.catalog-products {
    display: flex;
}

.catalog-filter {
    font-family: sans-serif;
    color: #000000;
    background-color: #EBEBEB;
    width: 468px;
    display: flex;
    flex-direction: column;
}

.filter-title {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    background-color: #DCDCDC;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    height: 70px;
}

.catalog-filter-group {
    padding: 0;
    margin: 0;
    border: none;
}

.range-toogle {
    padding: 0;
    margin: 0;
    border: none;
}

.catalog-filter-title {
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.02em;
    padding: 0;
    margin: 0;
}

.catalog-filter-label {
    font-size: 15px;
    line-height: 18px;
    text-align: center;
}

.catalog-filter-input {
    padding: 0;
    border: none;
}

.catalog-filter-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.control-label {
    color: #000000;
    background-color: #EBEBEB;
}

.catalog-filter-button {
    padding: 0;
    margin: 0;
    border: none;
}

.catalog-right-column {

} 
.sorting-container {
    color:#000000;
    background-color: #EBEBEB;
    align-items: center;
    display: flex;
    height: 70px;
    
}

.sorting-title {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    background-color: #EBEBEB;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    padding-left: 72px;
}

.sorting-type {
    margin-right: auto;
}

.select-control {
    font-family: "Rubik", sans-serif;
    color: #000000;
    background-color: #EBEBEB;
    font-size: 16px;
    line-height: 19px;
    border: none;
}

.container-card {
    width: 760px;
    margin-top: 69px;
    margin-left: 72px;
}
.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style: none;
}

.pagina

.product-card-link {
    text-decoration: none;
}

.product-card-title {
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    background-color: #FFFFFF;
    letter-spacing: -0.02em;
    padding: 0;
    margin: 0;
}

.product-card-price {
    font-family: "Rubik", sans-serif;
    color: #444444;
    background-color: #FFFFFF;
    font-size: 18px;
    line-height: 21px;
    text-align: right;
    padding: 0;
    margin: 0;
}

.button-loading {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    background-color: #FFFFFF;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    padding: 0;
    width: 760px;
    height: 55px;
    margin-bottom: 61px;
}

.pagination-list {
    color: #000000;
    background-color: #EBEBEB;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style: none;
    width: 760px;
    height: 70px;
    margin-left: 72px;
    margin-bottom: 77px;
}

.pagination-link {
    font-family: "Rubik", sans-serif;
    color: #444444;
    background-color: #EBEBEB;
    font-size: 16px;
    line-height: 19px;
}

.pagination-disabled {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    background-color: #EBEBEB;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.pagination-text {
    padding: 0;
    margin: 0;
}

.container-pagination-link {
    display: flex;
    justify-content: space-between;
    width: 145px;
}

.pagination-next {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    background-color: #EBEBEB;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-decoration: none;
}




