.slider-delivery {
    background: url("../images/index-main/delivery-2.png") no-repeat;
}
.slider-guarantee {
    background: url("..//images/index-main/warranty.png") no-repeat;
}
.slider-credit {
    background: url("..//images/index-main/credit.png") no-repeat;
}